/* Header */
.header {
    width: 100%;
    height: 79px;
    box-shadow: 0 1px 1px var(--theme_palette-bebe);
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--theme_palette-white);
    z-index: 1;
}

.header__left {
    display: flex;
    height: 100%;
    align-items: center;
}

.header__left-logo {
    display: block;
    padding: 10px;
    border-radius: 50%;
    background-color: #f5f5f5;
    opacity: 0.85;
}

.header__left-logo svg{
    width: 50px;
    height: 50px;
}

.header__left-icon {
    font-size: 1.4rem;
    margin-right: 10px;
    color: var(--theme_palette-icon);
}

.header__left-option {
    display: flex;
    margin-left: 10px;
    background-color: var(--theme_palette-white);
    height: 50px;
    box-shadow: 0 0 1px 2px rgba(235, 235, 235, 0.4);
    border-radius: var(--border-rad);
}

.header__left-search {
    padding: 12px;
    position: relative;
    border-radius: var(--border-rad);
}

.header__left-search::after {
    position: absolute;
    content: "";
    height: 80%;
    border-left: 1px solid var(--border-color);
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
}

 
.header__left-date {
    display: flex;
    align-items: center;
    padding: 0 8px;
    width: 116px;
    font-size: 1.4rem;
    color: var(--text-color-hof);
    font-weight: 500;
    position: relative;
    cursor: pointer;
    border-radius: var(--border-rad);
}


.header__left-date::after {
    position: absolute;
    content: "";
    height: 80%;
    border-left: 1px solid var(--border-color);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.header__left-number-customer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 12px;
    cursor: pointer;
    border-radius: var(--border-rad);
}

.header__left-user-icon {
    font-size: 1.4rem;
    color: var(--text-color-foggy);
}

.header__left-number {
    font-size: 1.4rem;
    color: var(--text-color-hof);
    font-weight: 500;
    margin-left: 10px;
}

.header__left-btn{
    display: flex;
    padding: 0 6px;

}

.header__left-btn div {
    margin: auto;
}

.header__right {
    height: 100%;
}

.header__right-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.header__right-item {
    list-style: none;
    padding: 8px 16px;
    font-size: 1.4rem;
    font-weight: 500;
}

.header__right-link {
    text-decoration: none;
    color: var(--text-color-hof);
    position: relative;
}

.header__right-item:first-child .header__right-link::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--text-color-hover);
    left: 115%;
    top: -15%;
}

.header__right-link:hover {
    color: #fb9236;
}

.header__right-currency {
    display: flex;
    position: relative;
    align-items: center;
    background-color: #f6f6f6;
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
}
.header__right-vi {
    height: 25px;
    width: 25px;
}

.header__right-VND {
    margin-left: 8px;
    font-weight: 400;
    font-size: 1.5rem;
}

.header__right-arrow {
    border-width: 5px 5px;
    border-color: var(--theme_palette-hof) transparent transparent;
    border-style: solid;
    transform: translateY(25%);
    margin: 0 10px;
}

.transfer {
    display: flex;
    position: absolute;
    top: 150%;
    right: 0;
    width: 470px;
    height: 154px;
    border: 1px solid #d6d6d6;
    box-shadow: 0px 1px 1px 1px var(--theme_palette-faint);
    background-color: var(--theme_palette-white);
    border-radius: var(--border-rad);
    visibility: hidden;
    opacity: 0;
    transform: translateY(50%);
    transition: transform linear 0.2s, visibility linear 0.2s, opacity linear 0.2s;
}

.transfer_show.transfer {
    transform: translateY(0%);
    visibility: visible;
    opacity: 1;
}

.transfer::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    background-color: var(--theme_palette-white);
    border-left: 1px solid #d6d6d6;
    border-top: 1px solid #d6d6d6;
    transform: rotate(45deg) translateY(-73%);
    left: 87%;
}

.header__right-arrow {
    margin: 0 10px 0 auto;
}

.transfer__language,
.transfer__currency {
    height: 100%;
    flex: 1;
    position: relative;
}

.transfer__language-list,
.transfer__currency-list {
    height: 100%;
    list-style: none;
    padding: 4px 16px;
}

.transfer__language::after {
    position: absolute;
    content: "";
    height: 80%;
    border-left: 1px solid var(--border-color);
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.transfer__language-item,
.transfer__currency-item {
    display: flex;
    height: calc(100% / 3);
    align-items: center;
    font-size: 1.6rem;
}

.transfer__language-text {
    position: relative;
    margin-left: 10px;
}

.transfer__language-img {
    height: 16px;
    width: 16px;
}

.transfer__language-text:hover,
.transfer__currency-item:hover {
    color: var(--text-color-hover);
}

.transfer__language-item:first-child .transfer__language-text::after,
.transfer__currency-item:first-child .transfer__currency-text::after {
    position: absolute;
    content: "";
    height: 8px;
    width: 5px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: black;
    left: 110%;
    top: 20%;
    transform: rotate(45deg) ;
}

.transfer__currency {
    flex: 1;
}

.transfer__currency-acronym {
    font-weight: 500;
}

.transfer__currency-text {
    padding-left: 12px;
    position: relative;
}

/* Mobile */

.menu-mobile {
    display: flex;
}

.menu-mobile__btn {
    width: 50px;
    height: 50px;
    margin: auto;
}

.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    animation: fadeIn linear 1s;
    display: none;
}

#nav-menu-mobile:checked + .nav__overlay {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Content */
.content {
    margin-top: 80px;
    padding: 45px 0;
}

.slide-show {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.slide-show__img {
    width: 100%;
    display: none;
}

.slide-show-dot {
    position: absolute;
    bottom: 22px;
    right: 42px;
}

.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 7px;
}

.active {
    background-color: rgba(0, 0, 0, 0.5);
}

.content__header {
    margin-top: 52px;
}

.contet__title {
    font-size: 2.4rem;
    color: var(--text-color-hof);
    margin: 12px 0;
}

.contet__sub {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.contet__sub a {
    color: var(--text-color-hof);
}

.contet__sub a:hover {
    color: var(--text-color-hover);
}

.content__webcome-box {
    margin-top: 70px;
}

.content__webcome-card {
    background-color: var(--theme_palette-white);
    box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: block;
    text-decoration: none;
}

.content__webcome-card:hover .content__webcome-name {
    color: var(--text-color-hover);
}

.content__webcome-img {
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 56%;
}

.img-homestay {
    background-image: url('../images/homestay.png');
}

.img-house {
    background-image: url('../images/entire-houses.jpg');
}

.content__welcome-desc {
    padding: 10px 8px;
}

.content__webcome-name {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color-hof);
    padding: 4px 16px;
    transition: color linear 0.2s;
}

.content__webcome-sub {
    font-size: 1.4rem;
    color: #999;;
    font-weight: 400;
    padding: 4px 16px;
}

.citySlide {
    position: relative;
    margin-top: 20px;
}

.citySlide__show {
    overflow-x: auto;
    position: relative;
}

#citySlide__transform {
    transition: transform linear 0.5s;
}

.citySlide__show::-webkit-scrollbar {
    display: none;
}

.citySlide__img {
    position: relative;
    height: 308px;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    border-radius: var(--border-rad);
}

.img-hn {
    background-image: url('../images/HN.png');
}

.img-hcm {
    background-image: url('../images/HCM.png');
}

.img-vt {
    background-image: url('../images/VT.png');
}

.img-dl {
    background-image: url('../images/DL.png');
}

.img-dn {
    background-image: url('../images/DN.png');
}

.img-nt {
    background-image: url('../images/NT.png');
}

.img-qn {
    background-image: url('../images/QN.png');
}

.img-ha {
    background-image: url('../images/HA.png');
}

.citySlide__img-info {
    position: absolute;
    left: 12%;
    bottom: 8%;
}

.citySlide__img-name {
    font-size: 2.6rem;
    color: var(--text-color-white);
    font-weight: 600;
    padding: 10px 0;
}

.citySlide__img-number {
    font-size: 1.6rem;
    color: var(--text-color-white);
}

.citySlide__img-number span {
    font-weight: 600;
}

.citySlide__btn-left,
.citySlide__btn-right {
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--theme_palette-white);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    top: 50%;
    transition: box-shadow linear 0.2s;
}

.citySlide__btn-left::after,
.citySlide__btn-right::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #000;
    top: 50%;
    left: calc(50% + 5px);
    transform: rotate(-45deg) translate(-50%, -50%);
    transform-origin: left;
    transition: border-color linear 0.2s;
}

.citySlide__btn-right::after {
    left: calc(50% - 5px);
    border-width: 1px 1px 0 0;
    transform: rotate(45deg) translate(-50%, -50%);
}

.citySlide__btn-left:hover,
.citySlide__btn-right:hover {
    box-shadow: 0 0 5px var(--text-color-hover);
    cursor: pointer;
}

.citySlide__btn-left:hover::after,
.citySlide__btn-right:hover::after {
    border-color: var(--text-color-hover);
}

.citySlide__btn-left {
    left: 0;
    transform: translate(-50%, -50%);
}

.citySlide__btn-right {
    right: 0;
    transform: translate(50%, -50%);
}

/* Disable button */
.disable.citySlide__btn-left:hover,
.disable.citySlide__btn-right:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.disable.citySlide__btn-left:hover::after,
.disable.citySlide__btn-right:hover::after {
    border-color: #000;
}

.disable {
    opacity: 0.5;
}

/*  */